<?xml version='1.0' encoding='utf-8'?>
<widget id="com.phonegap.angularBall" version="1.1.0" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0">
    <name>angularBall</name>
    <description>
        accBall angularJS version
    </description>
    <author email="support@phonegap.com" href="http://phonegap.com">
        PhoneGap Team
    </author>
    <content src="index.html" />
    <access origin="*" />
    <plugin name="cordova-plugin-device-motion" spec="~1.2.1" />
    <plugin name="cordova-plugin-device-orientation" spec="~1.0.3" />
</widget>
